.toolbar {
width: 100%;
background: #C0C0C0;
position: absolute;
bottom: 0;
border-style: outset;
padding: 2px 0px;
}
.toolbar ul li {
float: left;
line-height: 30px;
padding: 0px 5px;
border-style: outset;
position: relative;
text-transform: capitalize;
font-family: 'Roboto Mono', monospace;
}
.toolbar ul li:not(.time):hover {
background: grey;

}
.toolbar ul .start {
padding-left: 27px;
font-weight: 900; 

}
.toolbar ul .start img{
width:25px;
position: absolute; 
left: 0px;
top: 5px;

}

.toolbar ul .time {
    float: right;
    border-style: inset;
    text-transform: none;
}