body{
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  
  /*navbar*/
  .navbar{
    top:0;
    left:0;
    height:70px;
    background-color:#fff;
    position:fixed;
    z-index:100;
    width:100%;
  }
  .navbar .innernavbar{
    position:relative;
    width:1044px;
    height:70px;
    margin:0 auto;
    text-align:center;
  }
  
  .navbar .innernavbar .kakaologo{
    position:absolute;
    top:0;
    left:0;
    padding-top:15px;
    width:231px;
    height:40px;
    margin-top:0;
    margin-bottom:0;
    font-size:15px;
  }
  
  .navbar .innernavbar .kakaologo #logo{
    display:block;
    overflow:hidden;
    width:231px;
    height:40px;
  }
  
  .kakaologo #logo img{
    float:left;
  }
  
  
  .navbar .innernavbar .kakaologo #logo .textlogo{
    float:left;
    width:183px;
    height:40px;
    margin-left:11px;

    line-height: 0;
    text-indent: -9999px;
  }
  
  .navbar .innernavbar #menu{
    
    display:inline-block;
    padding-top:5px;
    padding-left:0px;
    list-style:none;/*블릿삭제*/
    margin:0;
    
  }
  
  .navbar .innernavbar #menu li{
    float:left;/*li태그안에서 왼쪽정렬*/
    margin-left:30px;/*글자끼리 간격30px*/
    line-height:60px;
  }
  
  .navbar .innernavbar #menu li a {
    color:#333333;
    font-size:16px;
    text-decoration:none;
    font-weight:bold;
  }
  
  
  .info_user{
    position:absolute;
    top:0;
    right:0;
  }
  
  .info_user .profile{
    float:left;
  }
  
  
  .info_user .profile .pic{
      display: inline-block;
      float:left;
      font-size: 0;
      line-height: 0;
      background: url(https://mk.kakaocdn.net/dn/emoticon_web/webstore/common/img_emoti_180809.png) no-repeat;
      text-indent: -9999px;
      vertical-align: top;
      width: 42px;
      height: 42px;
      background-position: -350px -250px;
      border: 1px solid #dcdcdc;
      border-radius: 50%;
    margin: 14px 10px 0 0;
  }
  
  .info_user .profile .login{
      float:left;
      width: 40px;
      height: 44px;
      padding: 26px 30px 0 0;
      font-size: 13px;
      line-height: 16px;
      color: #000;
      font-family: 'Noto Sans KR', sans-serif;
      text-decoration: none;
  }
  
  .info_user .search{
        float: right;
      width: 42px;
      height: 42px;
      box-sizing: border-box;
      border: 1px solid rgba(0,0,0,0.67);
      border-radius: 42px;
      margin-top: 14px; 
  }
  
  .info_user .search .search_pic{
      display: block;
      overflow: hidden;
      width: 19px;
      height: 19px;
      margin: 11px 0 0 11px;
      font-size: 0;
      line-height: 0;
      text-indent: -9999px;
      background-image: url(https://mk.kakaocdn.net/dn/emoticon_web/webstore/common/search.png);
  }
  
  
  .header{
    margin-top:50px;
    height:540px;
    background-image:url("https://item.kakaocdn.net/dn/oExyp/btquVg0QcE9/tdoojKxJe35ick37q5jEZk/img.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
  }
  
  
  .emoticon h3{
    font-size:28px;
    color:#333333;
    margin-top:60px;
    margin-bottom:60px;
    text-align:center;
  
  }
  
  .emoticon .emo-list{
    width:1400px;
    margin-left:auto;
    margin-right:auto;
  }
  
  .emoticon .emo-list .emo-pic {
    border:1px solid #efefef;
    text-align:center;
    width:225px;
    display:block;/*a태그의 위치를 제대로 잡아주기 위한 속성*/
    color:#333333;
    text-decoration:none;
    float:left;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:20px;
    padding:30px 10px 30px;
  }
  
  .emoticon .emo-list .emo-pic .emo-name{
    text-align:left;
    margin-top:20px;
    margin-bottom:4px;
    font-size:14px;
  }
  .emoticon .emo-list .emo-pic .emo-writer{
    font-size:12px;
    text-align:left;
  }
  .clearfix{
    clear:both;
  }
  
  
  
  .webbanner{
    width:1044px;
    padding-top:70px;
    position:relative;
    margin:100px auto 0px;
    border-top: 1px solid #efefef;
    background-color:#fff;
    overflow:hidden;
  }
  
  .webbanner .banner{
    float:left;
  }
  
  .webbanner .banner a{
    width:100%
  }
  
  .webbanner .banner img{
    width:520px;
  }
  
  .webbanner .banner .bannermargin{
    margin-left:4px;
  }
  
  .footer{
    width:1000px;
    margin:40px auto 50px;
    text-align:center;
    
  }
  
  .footer a{
    text-decoration:none;
  }
  
  .footer .service{
    display:inline-block;
    font-size:13px;
    line-height:15px;
    color:#666;
  }